@use "animations/wipe";
@use "animations/mask";
@use "animations/scroll";
@use "animations/textOverflow";

[akyos-animation-name] {
    @if akyos-animation-name == "translate" {
      opacity: 0;
    }
}